*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 48px;
}
nav ul{
    list-style-type: none;
    display: flex;
  
}
nav ul a{
    text-decoration: none;
   padding: 22px 10px;
   margin:5px 10px;
   color:#fff;
}
nav h1{
    font-size:36px;
    color: white;
}
nav li{
    position: relative;
}
.submenu{
    position: absolute;
    background-color: red;
    left: 0;
    top: 39px;
    flex-direction: column;
    display: none;
}
nav ul li:hover .submenu{
    display: flex;
    box-shadow: 1px black;
}
nav ul li:hover .submenu li{
    border-bottom: 1px solid whitesmoke;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}