body {
    font-family: Arial, sans-serif;
    background-color: #0066cc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #b3e5fc;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
}

.profile-image img {
    width: 100px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid white;
}

h2 {
    margin: 10px 0;
    font-size: 22px;
    color: #333;
}

p {
    font-size: 13.5px;
    color: black;
    font-weight: bold;

}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.buttons {
    margin: 20px 0;
}

.subscribe, .message {
    background-color: #00bfa5;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.subscribe:hover, .message:hover {
    background-color: #008c7a;
}

.stats {
    font-size: 14px;
    color: #555;
}

.stats span {
    margin: 0 10px;
}
